.chat-section {
    font-size: 26px;
    margin: 2em;
    text-align: left;
};

.input-chat {
    margin: 2em;
    padding: 1em;
    border: none;
};

.button-chat {
    padding: 1em;
    border: none;
    background-color: aliceblue;
}